h1 .header {
  margin-top: 3em; }

.search {
  margin-bottom: 2em; }

.task.counter {
  margin-bottom: 2em; }

.add.task {
  margin-top: 3em; }

.item .header {
  overflow: hidden;
  cursor: text;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }
  .item .header i {
    cursor: pointer; }

.item .input.todo {
  display: none; }

.item.done .header {
  color: gray !important;
  text-decoration: line-through; }
  .item.done .header i {
    text-decoration: none; }

.item.editing .content .header {
  display: none !important; }

.item.editing .input.todo {
  display: flex; }

.remove.todo {
  position: absolute;
  right: 0;
  bottom: 1em;
  cursor: pointer; }

.editing .remove.todo {
  display: none; }

.footer {
  margin-top: -1em;
  margin-left: -0.05em; }

.fluid.card {
  border-bottom-left-radius: 0; }
